name: Build & deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install and Build
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install Yarn globally
        run: npm install -g yarn

      - name: Install Yarn packages
        run: yarn install --frozen-lockfile

      - name: Build project
        run: yarn build

      # Deploy to Cloudflare
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./out --project-name=homescreen
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
